{% extends 'paginaweb/base.html' %}

{% load static %}

{% block contenido %}

  <p>A continuación se presenta nuestro listado de productos</p>

  {% for servicios in servicio %}
  <br>
  
  {{servicios.foto}} <br> {{servicios.descripcion}}

  {% endfor%}

   <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/1970_Dodge_Challenger_RT.jpg">
            <img src="img/1970_Dodge_Challenger_RT.jpg" alt="Dodge Challenger" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Dodge Challenger <br> Año: 1970 <br> Motor: V8 a 5,2L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/camaro.png">
            <img src="img/camaro.png" alt="Chevrolet Camaro" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Chevrolet Camaro <br> Año: 2011 <br> Motor: V8 a 6,2L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/camry.png">
            <img src="img/camry.png" alt="Toyota Camry" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Toyota Camry <br> Año: 2021 <br> Motor: 4 cilindros a 2,5L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/mustang.jpg">
            <img src="img/mustang.jpg" alt="Ford Mustang" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Ford Mustang <br> Año: 2021 <br> Motor: V8 a 5,0L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/silverado.jpg">
            <img src="img/silverado.jpg" alt="Chevrolet Silverado" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Chevrolet Silverado <br> Año: 2021 <br> Motor: 6 cilindros a 3,0L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/tesla.jpg">
            <img src="img/tesla.jpg" alt="Tesla Model 3" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Tesla Model 3 <br> Año: 2021 <br> Motor: Electrico</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/cx5.jpg">
            <img src="img/cx5.jpg" alt="Mazda CX-5" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Mazda CX-5 <br> Año: 2021 <br> Motor: 4 cilindros a 2,5L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img/civic.jpg">
            <img src="img/civic.jpg" alt="Honda Civic" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Honda Civic <br> Año: 2021 <br> Motor: 4 cilindros a 2,0L</div>
        </div>
    </div>

{% endblock %}