{% extends 'paginaweb/base.html' %}

{% load static %}

{% block contenido %}

    <p>A continuación se presenta nuestro listado de productos</p>

    <div class="productos">

      {% for productos in producto %}
      <br>
    

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/1970_Dodge_Challenger_RT.jpg' %}">
            <img src="{{productos.foto}}" alt="Imagen de Producto" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">{{productos.nombre}} <br> ${{productos.precio}} <br> {{productos.descripcion}}</div>
          <tr>
            {% if request.user.is_authenticated %}
            <td>
              <a href="actualizar/{{productos.id}}"><button id="up">Actualizar</button></a>
            </td>
            <td>
              <a href="eliminar/{{productos.id}}"><button id="del">Eliminar</button></a>
            </td>
            {% else %}
            <td class="botoncarr">
              <button id="car">Agregar al carrito</button>
            </td>
            {% endif %}
          </tr>
        </div>
      </div>

      {% endfor%}
    
    </div>

    <br><br><br><br><br><br><br>

    <p>Tambien puede observar esta galeria que presenta algunos de los vehiculos de nuestros clientes pasados
      (Estas imágenes fueron tomadas con su consentimiento):</p>

    <br>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/1970_Dodge_Challenger_RT.jpg' %}">
            <img src="{% static 'img/1970_Dodge_Challenger_RT.jpg' %}" alt="Dodge Challenger" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Dodge Challenger <br> Año: 1970 <br> Motor: V8 a 5,2L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/camaro.png' %}">
            <img src="{% static 'img/camaro.png' %}" alt="Chevrolet Camaro" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Chevrolet Camaro <br> Año: 2011 <br> Motor: V8 a 6,2L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/camry.png' %}">
            <img src="{% static 'img/camry.png' %}" alt="Toyota Camry" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Toyota Camry <br> Año: 2021 <br> Motor: 4 cilindros a 2,5L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/mustang.jpg' %}">
            <img src="{% static 'img/mustang.jpg' %}" alt="Ford Mustang" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Ford Mustang <br> Año: 2021 <br> Motor: V8 a 5,0L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/silverado.jpg' %}">
            <img src="{% static 'img/silverado.jpg' %}" alt="Chevrolet Silverado" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Chevrolet Silverado <br> Año: 2021 <br> Motor: 6 cilindros a 3,0L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/tesla.jpg' %}">
            <img src="{% static 'img/tesla.jpg' %}" alt="Tesla Model 3" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Tesla Model 3 <br> Año: 2021 <br> Motor: Electrico</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/cx5.jpg' %}">
            <img src="{% static 'img/cx5.jpg' %}" alt="Mazda CX-5" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Mazda CX-5 <br> Año: 2021 <br> Motor: 4 cilindros a 2,5L</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static 'img/civic.jpg' %}">
            <img src="{% static 'img/civic.jpg' %}" alt="Honda Civic" width="600" height="400">
          </a>
          <div class="desc" style="color: white;">Modelo: Honda Civic <br> Año: 2021 <br> Motor: 4 cilindros a 2,0L</div>
        </div>
    </div>

{% endblock %}