{% extends 'paginaweb/base.html' %}

{% load static %}

{% block contenido %}

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/aplicaciones-aprender-mecanica.jpg" class="d-block w-100" alt="ejemplo 1">
          </div>
          <div class="carousel-item">
            <img src="img/curso-mecanico-moto.jpg" class="d-block w-100" alt="ejemplo 2">
          </div>
          <div class="carousel-item">
            <img src="img/800_imagen.jpg" class="d-block w-100" alt="3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="background-color: rgb(90, 90, 90);">
          <h1 style="color: white;">¿Qué es la mecánica automotriz?</h1>
          
          <p style="font-size:larger;">La mecánica automotriz es la rama de la mecánica que se encarga de todo lo relacionado con los vehículos. 
            Desde los motores hasta las transmisiones, los frenos y la suspensión, la mecánica automotriz busca entender todas las piezas que componen un automóvil y cómo funcionan juntas para hacerlo funcionar.</p>
        </div>
        <div class="col-md-4" style="background-color: rgb(70, 70, 70);">
          <p><img src="img/slider_014 - copia.jpg.png" alt="Herramienta"></p>
          <p><img src="img/reparo.jpg" alt="Reparo"></p>
        </div>
        <div class="col-md-4" style="background-color: rgb(90, 90, 90);">
          <h1 style="color: white;">¿Qué equipamiento usan los mecanicos?</h1>
          
          <p style="font-size: larger;">Los mecánicos automotrices utilizan herramientas y equipos especiales para llevar a cabo tareas como el mantenimiento preventivo, las reparaciones y las inspecciones de los vehículos. 
            Además, necesitan estar al tanto de las últimas tecnologías y técnicas para poder trabajar en los vehículos más modernos y avanzados del mercado. La mecánica automotriz es una profesión esencial para mantener nuestro transporte en óptimas condiciones.</p>
        </div>
      </div>
    </div>

{% endblock %}