{% extends 'paginaweb/base.html' %}

{% block contenido %}
    <div class="menulog">
        <p style="float: left;"> <img src="img/logo.png" alt="Taller San Benildo" width="150px"></p>

        <div class="topnav" id="myTopnav">
        
            <a href="index.html">Inicio</a>
            <a href="mision.html">Quienes Somos</a>
            <a href="galeria.html">Galería</a>
            <a href="formulario.html">Formulario Contacto</a>
            <a href="localizacion.html">Donde Encontrarnos</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <p>Puede encontrarnos en la intersección de Avenida Maipu y Manuel Rodriguez, tal como se especifica en el siguiente mapa:</p>

    <div id="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d5435.692269366731!2d-70.76338775649627!3d-33.506862023669605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzPCsDMwJzI1LjQiUyA3MMKwNDUnMzYuMiJX!5e0!3m2!1ses-419!2scl!4v1684201384917!5m2!1ses-419!2scl"
     width="800" height="400" style="border:0;" allowfullscreen=""></iframe>
    </div>
    {% endblock %}